
@{
    ViewBag.Title = "Kindergarten";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "login";
    ViewBag.BannerText = "Kindergarten";
}

<div class="sections">
    <div class="intro sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>dreaming <span>big starts with someone small</span></h2>
                    <p>
                        We at Readway apply A unique approach to academic success. A small class size and exceptional teachers
                        enables Readway to offer an intimate educational
                        setting and ensure individualized attention for each
                        student. This program offers active curriculum and
                        academic goals based on Illinois State Standards for Kindergarten and First Grade.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="../Assets/images/sections/kindergarten/kindergarten-circles.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="sections-desc sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>why <span>readway</span></h2>
                    <p>
                        You face big decisions as a parent. None bigger than early education. Parents know that at Readway we make it our passion to nurture a sense of discovery, joy, and wonder in every child. We guide them on this road to discovery with our research-based standards and assessments along six developmental domains:
                    </p>
                </div>
                <div class="info col-sm-6">
                    <h3>contacts us</h3>
                    <div class="col-sm-5">
                        <h4><i class="fa fa-phone"></i> Phone</h4>
                        <p> <a href="tel:+94112669797">0112 669 797</a></p>
                    </div>
                    <div class="col-sm-6">
                        <h4><i class="fa fa-envelope"></i> Email</h4>
                        <p><a href="mailto:info@readwayinternational.com">info@readwayinternational.com</a></p>
                    </div>
                    <div class="col-sm-12">
                        <h4><i class="fa fa-map-marker"></i> Location:</h4>
                        <p>Readway College, No.236 Kolonnawa Rd, Dematagoda</p>
                    </div>
                    <div class="send-us">
                        <a href="/Home/Contact">send a message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-part sec-pad">
        <div class="container">
            <div class="row">
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

