
@{
    ViewBag.Title = "Secondary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "t-profile-01";
    ViewBag.BannerText = "Secondary";
}

<div class="sections">
    <div class="intro sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>dreaming <span>big starts with someone small</span></h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="../Assets/images/sections/secondary/secondary-circles.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="sections-desc sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>why <span>readway</span></h2>
                    <p>
                        You face big decisions as a parent. Non Bigger
                        than early education. Parents now that at Readway we make it our passion to nurture a sense of discovery, joy, and wonder in every child. We guide them on this road to discovery with our research based standards.
                    </p>
                </div>
                <div class="info col-sm-6">
                    <h3>contacts us</h3>
                    <div class="col-sm-5">
                        <h4><i class="fa fa-phone"></i> Phone</h4>
                        <p> <a href="tel:+94112669797">0112 669 797</a></p>
                    </div>
                    <div class="col-sm-6">
                        <h4><i class="fa fa-envelope"></i> Email</h4>
                        <p><a href="mailto:info@readwayinternational.com">info@readwayinternational.com</a></p>
                    </div>
                    <div class="col-sm-12">
                        <h4><i class="fa fa-map-marker"></i> Location:</h4>
                        <p>Readway College, No.236 Kolonnawa Rd, Dematagoda</p>
                    </div>
                    <div class="send-us">
                        <a href="/Home/Contact">send a message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-part sec-pad">
        <div class="container">
            <div class="row">
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
                <div class="part-inner col-xs-12 col-sm-4">
                    <div class="sec-img">
                        <img src="../Assets/images/sections/details.jpg" alt="Alternate Text">
                    </div>
                    <h2>lorum ipsem dolar imet</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

