
@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "single-courses_v single-courses_v1";
    ViewBag.BannerText = "About us";
}
<div class="single-courses-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 sidebar-left">
                <div class="single-curses-contert">
                    <h2>Readway College</h2>
                    <div class="review-option">
                        <div class="row">
                            <div class="col-sm-4 col-xm-12  categories border-left  review-item-singel">
                                <span>Slogan</span>
                                <span>To be the best citizen of this land</span>
                            </div>
                            <div class="col-sm-4 col-xm-12  categories border-left  review-item-singel">
                                <span>@(DateTime.Now.Year - 2011) Years of</span>
                                <span>Excellence</span>
                            </div>
                            <div class="col-sm-4 col-xm-12 students_105 border-left  review-item-singel">
                                <span>Students</span>
                                <span>600+</span>
                            </div>
                        </div>
                    </div>
                    @*<div class="details-img-bxo">
                            <img src="../Assets/images/about/schoolenvironment.jpg" alt="" class="img-responsive">
                        </div>*@
                    <div class="comments">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Board</h3>
                                <div class="row">
                                    <div class="col-sm-12 comment-single-item">
                                        <div class="col-sm-2 img-box">
                                            <img src="../Assets/images/about/board1.jpg" alt="" class="img-circle">
                                        </div>
                                        <div class="col-sm-10 comment-left-bar">
                                            <div class="comment-text comment-align">
                                                <ul class="list-unstyled">
                                                    <li class="name">FOUNDER/CHAIRMAN: Mr. Hilmy Buhari</li>
                                                </ul>
                                                <p>He is an individual whose vision is providing affordable, quality education to the students and creating individuals who are ready to face the world with confidence. The school is a brain-child of our Chairman whose focus is to educate the future generation which is positive in its attitude, focused in their goals and compassionate about their fellow beings.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 comment-single-item">
                                        <div class="col-sm-2 img-box">
                                            <img src="../Assets/images/about/board2.jpeg" alt="" class="img-circle">
                                        </div>
                                        <div class="col-sm-10 comment-left-bar">
                                            <div class="comment-text comment-align">
                                                <ul class="list-unstyled">
                                                    <li class="name">Principal: Mr. M.A. H. Nilanka Hishantha Perera 
                                                        <br />(B. Ph. and B.Th. in Rome) and reading (M.A. in Sociology at Kelaniya)</li>
                                                </ul>
                                                <p>
                                                    “Education is the process through which necessary knowledge is acquired for understanding oneself – self - knowledge to lead a successful life…” by Socrates.
                                                    <br /><br />
                                                    According to the above statement we can understand the vitality of a proper education in the life of a child since it is helping the child through experience to come to know the environment and the proper direction which causes the growth of the intellect and raises the standard of life in order to bring satisfaction and prosperity. In this process the school is performing the prime role of granting such an opportunity to a child to get shaped up his brain, heart and hand to be a bright intellectual person by having a good education. It means school has become a cradle of child’s education and parents should select the proper cradle to lay their child’s education.
                                                    As the newly appointed principal of Readway International College Dematagoda, would like to give you an assurance regarding the correctness of your decision in selecting our school for the education of your child. As an experienced principal my wish is to develop the school academically by maintaining a higher discipline inside the school.  Readway College has been commencing its academic activities since 2011 and performing well by achieving its target average. Being the leading International School in the area, it facilitates English medium syllabuses and the local curriculum from Pre- school to G.C. E. O/L. and all students are coached by suitable and qualified academic staff. School is conducting variety of extra- curricular activities to build up the personality of the students and to recognize their hidden talents. It gives students an opportunity to acquire the success in all the fields that they are capable. As a good functioning school we offer every child a rich, rewarding and unique experience that works for every child and enable all children to achieve their full potential. Since we maintain a child friendly environment both inside and outside the classroom children are more comfortable when they do their studies. By the way, since we are not admitting many students for one class it will be easier for teachers to observe their students by evaluating them so closely and finding out the slow learners will be easy in order pay more attention on them. By and large Readway International College is not only giving intellectual education but also inculcating good human qualities which will help them to be good citizens one day. Since we consider the religious background of the child and cater them accordingly their respective religion, they will be getting proper knowledge about their religion as well as religious practices.

                                                    <br /><br />
                                                    As a school we always think about our children and plan out all the things aiming their future endeavors and to have a better future where they can stand by their own. We always work as a team to cater a highest value for the decision that you have taken regarding your child’s education. Therefore, you will be happy one day by seeing your child’s achievements and realize the choice that you have taken is perfect. Finally, Readway International College will flourish in near future and if you take the correct decision to select Read way as your child’s school it will be the most successful choice that you ever had made regarding your child’s education. My utmost wish is Readway International College will facilitate many children and produce finest intellectual professionals in near future.
                                                    Principal.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 comment-single-item">
                                        <div class="col-sm-2 img-box">
                                            <img src="../Assets/images/about/board3.jpg" alt="" class="img-circle">
                                        </div>
                                        <div class="col-sm-10 comment-left-bar">
                                            <div class="comment-text comment-align">
                                                <ul class="list-unstyled">
                                                    <li class="name">Managing Director: Mr. Mohamed Zarook</li>
                                                </ul>
                                                <p>A former teacher and an educationist, whose vast knowledge in curricular activities and education per say is a guiding light. He directs the whole operation to fulfill the needs of all stakeholders i:e; The Parents, Students and the academic and non-academic staff.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description-content">
                        <h2>About us </h2>
                        <p>
                            We are a low fee levying school based on National/ International Curriculum taught in English medium.
                            As the motto of the school goes: <b><i>“To be the best citizen of this land”</i></b> - the school boasts of putting out well-rounded up citizens who are educated,
                            disciplined and who have learnt to respect the Nation with fervor.
                            The co-curricular activities and the school policy are designed with the sole intention of providing balanced and affordable higher quality education.
                            The goal is made possible with well qualified / trained staff from Play Group to GCE Advanced Level,
                            where a child <b><i>enters</i></b> and a <b><i>qualified personnel</i></b> goes out.
                            The modern audio visual facilities with smart board fitted air-conditioned classrooms,
                            state-of-art IT lab, sceince lab, technical studies and practical lesson in our well equipped laboratories are provided making the learning process more up-to-date to benchmark with the global
                            education standards, relevant and furthermore interesting to the students. Our past students are well placed in the society, and highly respected for the values they bring with them as trained and nurtured with care individuals.
                        </p>
                        <div class="requirements">
                            <h3>Mission</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="list-unstyled">
                                        <li>Enable, encourage and endow every student to initiate the lifelong pursuit of learning by providing a safe, nurturing, enjoyable,culturally fruitful and stimulating environment. Readway College is committed to instill in each student the values needed to holistically grow and develop in body mind and soul. We forge strong bonds with parents, thus enhancing balance in the development process of each student.</li>
                                        <li>Practice the perfect curriculum, international exposure, academics beyond excellence, effective communication & multi-tasking skills, and the best possible aptitude based career development approach which lay the foundation that helps every child to achieve success in all phases of life and contribute worthily to the global society.</li>
                                        <li>Produce disciplined citizens and great leaders with obedience to the Creator who are well equipped with intellectual power and skills to face the modern world challenges and meet the needs of the  global community and our nation Sri Lanka. Readway College to amalgamate traditional values with the best global practices of teaching and learning. We are committed to cater the best quality, yet affordable education.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="requirements">
                            <h3>Vision</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="list-unstyled">
                                        <li>To become a premier urban school of education recognized for its multicultural diversity, and known for its excellence in teaching, learning and research.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sidebar-right">
                <div class="sidebar-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="share-socila-link">
                                <div class="social-hading">
                                    <h3>Our Social Network</h3>
                                </div>
                                <div class="social-icon">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a href="https://www.facebook.com/Readway-International-College-161871674231934/" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.youtube.com/channel/UCsZpXQvipY3ig6Y74gVYYrA" class="youtube"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
