
@{
    ViewBag.Title = "Admissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "event-01";
    ViewBag.BannerText = "Admissions";
}

<div class="admission">
    <div class="admission-intro sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Join <span>readway</span></h2>
                    <p>Welcome to Readway College. We are proud of the many ways we ignite our students' potential, develop the mind, nurture curiosity, welcome challenge, embrace joy, and build a school community that is equitable and inclusive.</p>
                    <p>The @(DateTime.Now.Year + 1) - @(DateTime.Now.Year + 2) application season will open in mid-September. Please keep an eye on our website around the start of the school year to learn about other admission events and deadlines. If you are willing to Join us, please download the applications from the links below, Print, fill and hand it over to our Office. For more information please contact us directly.</p>
                </div>
                <div class="col-sm-6">
                    <img src="../Assets/images/admissions/admissions-circles.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="admission-desc sec-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>why <span>readway</span></h2>
                    <p> You face big decisions as a parent. Non Bigger
                    than early education. Parents now that at Readway we make it our passion to nurture a sense of discovery, joy, and wonder in every child. We guide them on this road to discovery with our research based standards.</p>
                </div>
                <div class="info col-sm-6">
                    <h3>contacts us</h3>
                    <div class="col-sm-5">
                        <h4><i class="fa fa-phone"></i> Phone</h4>
                        <p> <a href="tel:+94112669797">0112 669 797</a></p>
                    </div>
                    <div class="col-sm-6">
                        <h4><i class="fa fa-envelope"></i> Email</h4>
                        <p><a href="mailto:info@readwayinternational.com">info@readwayinternational.com</a></p>
                    </div>
                    <div class="col-sm-12">
                        <h4><i class="fa fa-map-marker"></i> Location:</h4>
                        <p>Readway College, No.236 Kolonnawa Rd, Dematagoda</p>
                    </div>
                    <div class="send-us">
                        <a href="/Home/Contact">send a message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="applications sec-pad">
        <div class="container">
            <div class="row">
                <h2>download <span>applications</span></h2>
                <div class="col-xs-12 col-sm-4">
                    <div class="application-inner">
                        <a href="#">
                            <div class="download-icon">
                                <img src="../Assets/images/admissions/applications.png" alt="download applications" />
                            </div>
                            <div class="download-icon-hover">
                                <img src="../Assets/images/admissions/applications-hover.png" alt="download applications" />
                            </div>
                        </a>
                        <h4>Download Application for <span>Kindergarten</span></h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="application-inner">
                        <a href="#">
                            <div class="download-icon">
                                <img src="../Assets/images/admissions/applications.png" alt="download applications" />
                            </div>
                            <div class="download-icon-hover">
                                <img src="../Assets/images/admissions/applications-hover.png" alt="download applications" />
                            </div>
                        </a>
                        <h4>Download Application for <span>Primary</span> </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="application-inner">
                        <a href="#">
                            <div class="download-icon">
                                <img src="../Assets/images/admissions/applications.png" alt="download applications" />
                            </div>
                            <div class="download-icon-hover">
                                <img src="../Assets/images/admissions/applications-hover.png" alt="download applications" />
                            </div>
                        </a>
                        <h4>Download Application for <span>Secondary</span> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="enrollment sec-pad">
        <div class="container">
            <h2>enrollment<span>details</span></h2>
            <p>If after your visit you are interested in enrolling your child, you must submit an Application for Enrollment and Enrollment Deposit to secure a spot in our program or hold a space on our waitlist. If your child is placed on the waitlist, your deposit will be held until a space becomes available. If you withdraw your child from the waitlist before a space becomes available, then your tuition deposit may be refunded, however, you must notify the Center in writing. Once a space becomes available and has been reserved for your child, you will not be entitled to a refund. After the application and deposit is received, you will be provided with a Welcome Packet and asked to schedule your orientation.</p>
            <p>Enrollment at Readway is on a first come, first serve basis and spaces may not be held without an Application for Enrollment and Enrollment Deposit. Once our program is full, children will be placed on a waitlist and then accepted as space becomes available.</p>
        </div>
    </div>
    <div class="policy sec-pad">
        <div class="container">
            <h2>non-descrimination<span>policy</span></h2>
            <p>Readway College stands firmly behind the principle that the admission of students, the employment of faculty, the operation of programs, and the governance of the School be open to all who are qualified regardless of race, creed, color, national origin, ethnic origin, or sexual orientation. We believe that this principle is both firmly grounded in the spirit of Sri Lankan democracy and in keeping with the civil responsibilities of an independent school.</p>
            
        </div>
    </div>
</div>
