@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "contact";
    ViewBag.BannerText = "Contact us";
}
<section class="contact-area-02">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 contact-info">
                <div class="col-sm-12 contact-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 single-address-box">
                            <div class="single-address">
                                <i class="fa fa-phone"></i>
                                <h4>Phone</h4>
                                <p> <a href="tel:+94112669797">0112 669 797</a></p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6  single-address-box">
                            <div class="single-address">
                                <i class="fa fa-envelope"></i>
                                <h4>Email</h4>
                                <p><a href="mailto:info@readwayinternational.com" style="font-size:12.4px;">info@readwayinternational.com</a></p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 single-address-box">
                            <div class="single-address">
                                <i class="fa fa-map-marker"></i>
                                <h4>Location:</h4>
                                <p>Readway College, No.236 Kolonnawa Rd, Dematagoda</p>
                            </div>
                        </div>
                        <div class="col-sm-12 single-address-box">
                            <ul class="list-unstyled">
                                <li><a href=""><i class="fa fa-facebook teacher-icon"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter teacher-icon"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus teacher-icon"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin teacher-icon"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram teacher-icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  col-sm-offset-1 contact-form">
                <div class="row">
                    <div class="col-sm-12 contact-title-btm">
                        <h2>Send A Message</h2>
                        <p class="content-sub_p">Welcome to our Website. We are glad to have you around.</p>
                    </div>
                </div>
                <div class="input-contact-form">
                    <div id="contact">
                        <div id="secondaryLoader" hidden align="center">
                            <img src="~/Assets/images/preloader.gif" />
                            <p style="color:cadetblue;align-content:center;font-size:16px;"> sending your message...</p>
                        </div>
                        <div id="message">
                            @Html.Partial("_ContactFormMessage")
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="maptag">
            <h2>Our Location</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.6770217234093!2d79.8796412795695!3d6.929153990365797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae259a580f9fc71%3A0x846af6817b339735!2sReadway+International+School!5e0!3m2!1sen!2slk!4v1523202163967" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval", "~/ContactUs/js")
}
